body {
  margin: 20px;
}

#section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

#section3 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
